@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-size: clamp(8px, calc(100vw / 402 * 10), 12px);
}

@layer utilities {
  .font-poppins {
    font-family: var(--font-poppins), sans-serif;
  }

  .font-invite-title {
    font-family: var(--font-poppins), sans-serif;
    font-weight: 900;
    font-style: normal;
    font-feature-settings:
      "liga" off,
      "clig" off;
  }
}
